.Font{
    font-family: "Sora", sans-serif;
}
.icon{
    width: 25px;
    height: 25px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 20px;
}

 .product-image {
  /* Images overflow the container by default. To prevent this, set
     max-width and max-height to 100% to stay inside container. */
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.add-to-cart-button {
  width: 100%;
  padding: 8px;
  height: 34px;
  margin-top: 1px;
}